<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

<!--<style>-->
<!--    table{-->
<!--        width: 80%;-->
<!--        border-collapse: collapse;-->
<!--    }-->
<!--    thead{-->
<!--        text-align: left;-->

<!--    }-->
<!--    th,td{-->
<!--        border: 1px solid black;-->
<!--        padding: 5px;-->
<!--    }-->
<!--</style>-->
</head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!--  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js">-->
<body>
        <img src="/static/style/What-is-Python.jpg" alt="Python Logo" style="display: block; margin: 0 auto; width: 400px; height: 200px">

<div class="container">
<h3><p>Python asosiy rivojlanish yangiliklari va ma'lumotlari</p>


</h3>

<p>Seshanba, 19-mart, 2024-yil
Python 3.10.14, 3.9.19 va 3.8.19 endi mavjud</p> <br>
    <h4 class="related-widget-wrapper">Latest News</h4>
<table class="table table-hover">
<thead>
<tr>
    <th class="p-10">
        03-20
    </th>
    <th>
Python 3.10.14, 3.9.19, and 3.8.19 is now available    </th>


</tr>

</thead>

    <tbody>
    <tr>
        <td class="clas">
            03-13
        </td>
        <td>

            <a href="https://pythoninsider.blogspot.com/2024/03/python-3130-alpha-5-is-now-available.html">Python 3.13.0 alpha 5 is now available</a>
        </td>

    </tr>
    <tr>
        <td>
            02-29
        </td>
        <td>
            <a href="https://pyfound.blogspot.com/2024/02/white-house-recommends-.html">White House recommends use of memory-safe languages like Python</a>
        </td>

    </tr>
    <tr>
        <td>
            02-15
        </td>
        <td>
            <a href="https://pythoninsider.blogspot.com/2024/02/python-3130-alpha-4-is-now-available.html">Python 3.13.0 alpha 4 is now available</a>

        </td>

    </tr>




    </tbody>
</table>
<br>
    <h4>Upcoming Events</h4>
<table class="table table-hover">
<thead>
<tr>
    <th class="p-10">
        03-23
    </th>
    <th>
Python Barcamp Karlsruhe   </th>


</tr>

</thead>

    <tbody>
    <tr>
        <td class="clas">
            03-23
        </td>
        <td>

            <a href="https://www.python.org/events/python-user-group/1704/">PyLadies Amsterdam: Python Open Source Sprints</a>
        </td>

    </tr>
    <tr>
        <td>
            02-29
        </td>
        <td>
            <a href="https://www.python.org/events/python-user-group/1705/">PyLadies Amsterdam: Global AI Bootcamp</a>
        </td>

    </tr>
    <tr>
        <td>
            03-29
        </td>
        <td>
            <a href="https://www.python.org/events/python-user-group/1712/">PyCamp Spain 2024</a>

        </td>

    </tr>
    <tr>
        <td>
            03-29
        </td>
        <td>
            <a href="https://www.python.org/events/python-user-group/1708/">PyLadies Amsterdam: Fine-tuning text-to-image diffusion models for personalization and subject-driven generation</a>

        </td>

    </tr>



    </tbody>
</table>
        <p><a href="https://www.python.org/">Manba</a></p>

</div>
</body>
</html>