<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<body>

<div style="width: 150px; height: 150px; overflow: hidden; border-radius: 50%; clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);">
    <img src="/static/style/1_iZrPtgGCMRR6NEU29Bx2Tg.jpg" alt="Django administration Logo" class="img-circle brand-image elevation-3" style="width: 100%; height: auto;">
</div>

<div class="container">
<h3><p>Python asosiy rivojlanish yangiliklari va ma'lumotlari</p>


</h3>

<p>Seshanba, 19-mart, 2024-yil
Python 3.10.14, 3.9.19 va 3.8.19 endi mavjud</p> <br>
    <h4 class="related-widget-wrapper">Latest News</h4>
<table class="table table-hover">
<thead>
<tr>
    <th class="p-10">
        03-20
    </th>
    <th>
        Python 3.10.14, 3.9.19, and 3.8.19 is now available    
    </th>
    
</tr>

</thead>

    <tbody>
    <tr>
        <td class="clas">
            03-13
        </td>
        <td>
            <a href="https://pythoninsider.blogspot.com/2024/03/python-3130-alpha-5-is-now-available.html">Python 3.13.0 alpha 5 is now available</a>
        </td>

    </tr>
    <tr>
        <td>
            02-29
        </td>
        <td>
            <a href="https://pyfound.blogspot.com/2024/02/white-house-recommends-.html">White House recommends use of memory-safe languages like Python</a>
        </td>

    </tr>
    <tr>
        <td>
            02-15
        </td>
        <td>
            <a href="https://pythoninsider.blogspot.com/2024/02/python-3130-alpha-4-is-now-available.html">Python 3.13.0 alpha 4 is now available</a>

        </td>

    </tr>
    
    </tbody>
</table>
<br>
    <h4>Upcoming Events</h4>
<table class="table table-hover">
<thead>
<tr>
    <th class="p-10">
        03-23
    </th>
    <th>
        Python Barcamp Karlsruhe   
    </th>
    
</tr>

</thead>

    <tbody>
    <tr>
        <td class="clas">
            03-23
        </td>
        <td>

            <a href="https://www.python.org/events/python-user-group/1704/">PyLadies Amsterdam: Python Open Source Sprints</a>
        </td>

    </tr>
    <tr>
        <td>
            02-29
        </td>
        <td>
            <a href="https://www.python.org/events/python-user-group/1705/">PyLadies Amsterdam: Global AI Bootcamp</a>
        </td>

    </tr>
    <tr>
        <td>
            03-29
        </td>
        <td>
            <a href="https://www.python.org/events/python-user-group/1712/">PyCamp Spain 2024</a>
        </td>

    </tr>
    <tr>
        <td>
            03-29
        </td>
        <td>
            <a href="https://www.python.org/events/python-user-group/1708/">PyLadies Amsterdam: Fine-tuning text-to-image diffusion models for personalization and subject-driven generation</a>

        </td>
    </tr>
    
    </tbody>
</table>
        <p><a href="https://www.python.org/">Manba</a></p>

    <p id="f0aa" data-selectable-paragraph="">
        <strong class="me gu">   Ishonavering python </strong>dasturlash tilida ishlash uchun sizdan kuchli kompyuter talab qilinmaydi. 
        Yozgan kodingizni oddiyroq xususiyatlarga ega 
        bo‘lgan kompyuterda ishlatish hattoki qo‘lingizdagi Android telefoningizda ham ishlatish imkoniyati mavjud.</p>
</div>
</body>
</html>