<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Dasturlash Tilining Asosiy Tushunchalari</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header class="bg-dark text-white py-4">
        <div class="container text-center">
            <h1>Python </h1>
        </div>
    </header>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
        <img src="/static/style/guido-headshot-2019.jpg" alt="Python Logo" style="display: block; margin: 0 auto; width: 400px; height: 300px">
                <h2 class="text-center">Python Haqida</h2>
                <p>Python, Guido van Rossum tomonidan yaratilgan, yorqin va oddiy sintaksisga ega bo'lgan umumiy maqsadli dasturlash tili.
                </p>
                <p>Guido van Rossum Python-ni 1990 yilda Amsterdamdagi CWI da ishlagan vaqtida yaratgan. U 2018 yilda isteʼfoga chiqqunga qadar tilning 
                    BDFL boʻyicha mutaxassisi boʻlgan. U turli texnologik ishlarda ishlagan, jumladan Google’da katta muhandis va Dropbox’da bosh muhandis.
                    Hozirda u Microsoft kompaniyasining taniqli muhandisi bo‘lib, u yerda hamon Python dasturini ishlab chiqishda faol ishtirok etmoqda. 
                    Gollandiyada tug'ilib o'sgan, 1995 yilda AQShga ko'chib o'tgan va hozirda oilasi bilan Bay Area shahrida yashaydi.</p>
                <h2 class="text-center">Tushunchalar</h2>
                <ul>
                    <li><strong>Sintaksis:</strong> Pythonning o'zgacha sintaksisi bor, uning oddiy va aniq ko'rinishi dasturlarni yozish va tushuntirishni osonlashtiradi.</li>
                    <li><strong>Modullar:</strong> Python modullar tizimiga ega bo'lgan, bu ko'plab standart funktsiyalarni o'z ichiga olgan.</li>
                    <li><strong>OOP Dasturlash:</strong> Python ob'ektoriyatga yo'naltirilgan dasturlashni ta'minlaydi, bu esa kodni qayta ishlash va yaxshi tuzilishni ta'minlaydi.</li>
                    <li><strong>Dinamik Typing:</strong> Python o'zgaruvchilarning tipini avtomatik ravishda aniqlab, bu dasturlarni yozish va o'zgartirishni osonlashtiradi.</li>
                </ul>
                <h2 class="text-center">Python Foydalari</h2>
                <p>Python dasturlash tili quyidagi foydalarni ta'minlaydi:</p>
                <ul>
                    <li>Dasturlashni osonlash</li>
                    <li>Yorqin sintaksis</li>
                    <li>Modullar tizimi</li>
                    <li>Ob'ektoriyatga yo'naltirilgan dasturlash</li>
                    <li>Keng qamrovli jamoaviy o'zlashtirish</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 mt-5">
                <h2 class="text-center">Qidiruv Tizimi</h2>
                <form action="/search" method="get">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="query" placeholder="Qidiruv...">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">Qidirish</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
